@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.section1{
  background: #f2cdf1;
}

.section2{
  background: #90adcd;
}
.section3{
  background: #f2cdf1;
}
.section4{
  background: #90adcd;
}
.section5{
  background: #b9c7d2;
  color: #0d3a5c;
}

.section6{
  background: #ffffff;
  color: #506b5d;
}

.section7{
  background: #a1b391;
}
.section8{
  background: #f2cdf1;
  color: #851a3d;
}
.section9{
  background: #4984ae;
}